@import "tailwindcss";

@theme {
  --color-accent: #12100c;
  --color-warning: #f94929;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply p-5 bg-[#E3E3E3];
}

.card-title {
  @apply font-medium border-accent text-warning bg-white w-fit px-3 py-1 text-lg rounded-t-lg;
}

.categories-table {
  @apply w-fit border-collapse;
}

th {
  @apply z-10 first:rounded-tl-lg last:rounded-tr-lg last:px-3 font-medium border border-gray-300 p-2 text-center sticky top-0 bg-warning text-white;
}

tr {
  @apply bg-white even:bg-gray-100 hover:bg-gray-200;
}

td {
  @apply border border-gray-300 p-2 text-left;
}
